body {
    font-family: Arial, sans-serif;
  }
  .blog-post {
    background-color: #c7c3ee;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ff7474;
  }
  .blog-post img {
    max-width: 100%;
  }
  .category-list {
    background-color: #ecfd8b;
    margin: 10px;
    padding: 15px;
  }
  .category-list h3 {
    color: #f01111;
  }